.approach__subheading, .approach__heading {
  font-family: Poppins, Arial, Helvetica, sans-serif; }

.approach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: auto;
  margin-left: 100px;
  background: #2c2c2c;
  border-radius: 30px 0 0 30px;
  -webkit-transform: translateY(140px);
          transform: translateY(140px); }
  .approach__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 100px;
    width: 460px;
    color: #fff; }
  .approach__subheading {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .approach__heading {
    margin-top: 0;
    font-weight: 600;
    font-size: 32px; }
  .approach__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px; }
  .approach__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-bottom: 50px; }
    .approach__item::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 30px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
      z-index: -1; }
    .approach__item:hover::after {
      width: 80%;
      height: 100%; }
    .approach__item:hover {
      cursor: pointer;
      color: black;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .approach__picture {
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: 15px;
    margin-right: 32px;
    background: #fff;
    border-radius: 30px; }
  .approach__icon {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 25px;
    height: 25px; }
  .approach__text {
    width: 250px;
    margin: 5px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%; }
  .approach__photo {
    position: absolute;
    border-radius: 30px 0 0;
    top: 30%;
    right: 0;
    width: 40vw;
    height: 70%;
    background: url(../images/bridge.png) center center/cover no-repeat; }

@media screen and (max-width: 1024px), (max-width: 1280px) {
  .approach {
    width: 800px; }
    .approach__content {
      margin-left: 50px; } }

@media screen and (max-width: 800px) {
  .approach {
    width: 550px;
    margin-left: 50px; }
    .approach__content {
      margin: 0; }
    .approach__text {
      width: 200px; } }

@media screen and (max-width: 500px) {
  .approach {
    width: auto;
    margin: 0;
    border-radius: 30px; }
    .approach__photo {
      display: none; } }

/*# sourceMappingURL=approach.css.map */
