.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  height: auto;
  background: #2c2c2c;
  border-radius: 30px 30px 0 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 460px; }
  .contact__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%; }
  .contact__input {
    margin: 30px 0;
    padding: 17px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    -webkit-animation: autofill both;
            animation: autofill both;
    /*for problem with autofill*/ }

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent; } }

@keyframes autofill {
  to {
    color: inherit;
    background: transparent; } }
    .contact__input:focus, .contact__input:active {
      border-bottom: 2px solid #2060f6; }
    .contact__input::-webkit-input-placeholder {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      color: #c0c0c0; }
    .contact__input::-moz-placeholder {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      color: #c0c0c0; }
    .contact__input:-ms-input-placeholder {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      color: #c0c0c0; }
    .contact__input::-ms-input-placeholder {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      color: #c0c0c0; }
    .contact__input::placeholder {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      color: #c0c0c0; }
  .contact__button {
    margin-top: 50px; }
  .contact__info {
    width: 360px; }
  .contact__subheading {
    display: block;
    margin-top: 48px;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: #c0c0c0; }
  .contact__text {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff; }
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    width: 180px; }
  .contact__item {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .contact__item:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .contact__item:nth-child(1):hover {
      background: #39569a; }
    .contact__item:nth-child(2):hover {
      background: #1c9deb; }
    .contact__item:nth-child(3):hover {
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }
  .contact__icon {
    height: 24px;
    width: 24px; }

@media screen and (max-width: 800px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact__info {
      width: 560px; }
    .contact__button {
      margin: 50px auto; } }

@media screen and (max-width: 500px) {
  .contact__form {
    width: 300px; }
  .contact__info {
    width: 300px; } }

/*# sourceMappingURL=contact.css.map */
